body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     background-image: url(table.jpg);
     background-size: cover;
     text-align: center;
     color: white;
     font-weight: bold;
}

h1{
    color: goldenrod;
}

#msg{
    font-style: italic;
}

.btn{
    background-color:goldenrod ;
    color:#078a42;
    font-weight:bolder;
    border:2px solid white;
     border-radius: 5px;
     padding:5px;
    
     width: 150px;
     margin-bottom: 3px;
}

/* .container{ background-color: rgb(8, 11, 11);
    display: inline-block;
    border: 2px solid red;
    padding: 20px;
}  */